@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
}

.embla__slide {
  position: relative;
  min-width: 100%;
}

/* add the code bellow */
@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.vds-volume-popup {
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  background-color: rgb(209 213 219) !important;
}

.vds-slider-thumb {
  background-color: rgb(31 41 55) !important;
}
