@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
}

.embla__slide {
  position: relative;
  min-width: 100%;
}

/* add the code bellow */
@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .transition-custom-blur {
    @apply transition-all duration-700 ease-in-out;
  }
}
